# Ignorar pastas de build
**/build/
**/captures/

# Ignorar configurações locais do Android Studio
.idea/
local.properties

# Ignorar dependências e arquivos do Gradle
.gradle/
gradle.properties
gradlew
gradlew.bat